.blog-container {
  padding: 2rem;
  background-color: #f0f0f0;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.blog-header button {
  background-color: #555;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.blog-header span {
  margin-left: auto;
  font-weight: bold;
  padding: 0.5rem;
}

.blog-header button:hover {
  background-color: #333;
}
